body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

/* side bar manu */
/*nav bar horizontal list*/
.bars {
    color: white;
    /*margin: 0;*/
    margin-right: 5%;
    display: none;
    position: absolute;
    right: 0;
}

.bars i {
    font-size: 2rem;
}


.dropdown-list {   
    /*transition: all 0.5s ease-in-out; */
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul {
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-list li {
    margin: 0.4rem 0px;
}

.dropdown-menu:hover .dropdown-list {
    display: block;
    position: absolute;
    right: 3%;
    /*transition: all 0.5s ease-in-out;*/
}

.no-list-style {
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a {
    list-style: none;
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}





.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}


section{
	width: 100%;
	/*height: 75vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;

}

section:nth-child(2n){
	background-color: lightgray;
}


section:nth-child(2n+1){
	background-color: white;
}


/* animation */

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


#about:target {
    animation: slideInFromTop 1s ease-in-out;
    /*transition: all 5s ease-in-out;*/

}

#my-name{
    animation: slideInFromTop 1s ease-in-out;

}

section:nth-child(2n):target {
    animation: slideInFromTop 1s ease-in-out;

}

section:nth-child(2n+1):target {
    animation: slideInFromTop 1s ease-in-out;

}



/*#about{
    animation: slideInFromTop 1s ease-in-out;
    /*transition: all 5s ease-in-out;*/

/*}*/

#contact:target {
    animation: slideInFromTop 1s ease-in-out;
}

/*#body-header{
    animation: slideInFromTop 1s ease-in-out;
}*/




@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

section:nth-child(2n+1) {
  animation: slideInFromLeft 1s ease-in-out;
}

/*section:nth-child(2n+1):target{
  animation: slideInFromLeft 1s ease-in-out;
}*/

.nav-menu{
    animation: slideInFromLeft 1s ease-in-out;
}



@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

section:nth-child(2n) {
    animation: slideInFromRight 1s ease-in-out;
}

/*section:nth-child(2n):target {
    animation: slideInFromRight 1s ease-in-out;
}*/

.social-icon{
    animation: slideInFromRight 1s ease-in-out;
}






















/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

/* skilled section */

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	/*margin: 10px auto;*/
	font-weight: 400;

} 

.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;

}

.mb75px{
	margin-bottom: 75px;
}

.skills-display{
	width: 75%;
    padding: 10px;
    margin-bottom: 30px;

	/*height: 100px;*/
	/*border: 2px solid black;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.skills-progress{
	width: 11rem;
	height: 2.2rem;
	background-color: lightgrey;
	border-radius: 1.2rem;
	border: 2px solid black;
    margin: 20px;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;


}

.skills-progress>div{
	border-radius: 20px 0px 0px 20px;
/* 	font-size: 1.3rem; */
    box-shadow: 1px 1px 5px 2px #989882;

}


.skill-name span{
	color: white;
	font-size: 1rem;
	margin-left: 10px;
    vertical-align: middle;

	/*text-align: center;*/

}

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-green {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}


/* experience section */
.timeline{
    position: relative;
    width: 75%;
    /*border: 2px solid black;*/
}

.timeline-box{
    /*padding: 5px;*/
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
    /*border: 2px solid black;*/
    margin: 5px;
    
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after{
    content: "";
    position: absolute;
    top: 28%;
    right: -13% ;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: lightgrey;
    z-index: 1;
}

.timeline-box:nth-child(2n)::after{
    content: "";
    position: absolute;
    top: 28%;
    left: -8.6% ;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: lightgray;
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;
    color: #433E3F;
}

.timeline-traveller{
    position: sticky;
    top: 25%;
    margin-top: -45px;
    color: #2857a4;
    transform: rotate(90deg);
    z-index: 2;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo>img {
    width: 100%;
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}



/*portfolio section*/

#portfolio-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 50px;
	margin-bottom: 20px;
	justify-content: space-around;
}

.portfolio-image-container{
	max-width: 300px;
	margin: 10px;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}


.portfolio-image-container img {
	width: 100%;
	height: 100%;
}

.portfolio-details {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}




/*portfolio section*/

#portfolio-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0 50px;
	margin-bottom: 20px;
	justify-content: space-around;
}

.portfolio-image-container{
	max-width: 300px;
	margin: 10px;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}


.portfolio-image-container img {
	width: 100%;
	height: 100%;
}

.portfolio-details {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}


/*contact section*/

#contact {
    background-color: #0abcf9;
    padding-bottom: 40px;
    background-image: linear-gradient(90deg,#2857a4 0%,#403066 75%);
    color: white;

}

#contact h1 span {
    color: white;
}

.mb60px {
    margin-bottom: 50px;
}

#contact-form{
    margin-left: 20%;
}

#contact-container{
    display: flex;
}

#contact-form-container{
    width: 50%;
}

#contact-form input, textarea{
    max-width: 90%;
    margin: 15px;
    padding: 5px 10px;
    border: 0 solid transparent;
    background: transparent;
    border-bottom: 2px solid white;
    color: white;
    line-height: 1.6;
    width: 90%;
    font-size: 1rem;

}

#contact-form button[type="submit"]{
    background: transparent;
    font-size: 1rem;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 35%;
    font-family: sans-serif;
    /*letter-spacing: .046em;*/
    letter-spacing: 1.2px;
    line-height: 1.2;
    padding: 0.8em;
    /*padding: 10px;*/
    font-weight: 700;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #2857a4;
}

/*Details container*/

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

#my-details-container p {
    color: #e9dcdc;
    font-size: 1rem;
    line-height: 1.4;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #e9dcdc;
    font-size: 1rem;
}
.my-details-info-container span {
    margin-left: 0.5rem;
}

.my-details-info-container i {
    color: white;
}


/*icons details*/
#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 8px 12px 18px 8px;
}

/*media querie*/

@media screen and (max-width: 572px){
    .timeline-divider{
        left: 2%;
    }

    .timeline-box{
        left: 10% !important;
        width: 100%;

    }

    .timeline-box:nth-child(2n)::after {
    left: -9.4%;
}

.timeline-box:nth-child(2n+1)::after {
    left: -9.4%;
}

    .bars {
        display: block;
    }


    .nav-menu {
        display: none;
    }



/*.timeline-box::after {
    left: -10.9% !important;
}*/

}


@media screen and (max-width: 768px){

    .timeline-box {
        width: 90%;
        left: 10% !important;
    }

    .timeline-box::after {
        left: -10.1% !important;
    }

    .timeline-divider {
        left: 2%;
    }

    #contact-form{
        margin-left: 0;
    }

    #contact-container {
        flex-wrap: wrap;
    }

    #contact-form-container {
        width: 85%;
        margin: 10%;
    }


    #my-details-container {
        width: 85%;
        margin: 10%;
    }

}
